header {
    *background: $headerBgColor;
}

a {
    color: $headerLink;
}

a.active {
    font-weight: bold;
}

#menubar {
    display: flex;
    flex-direction: row;
}

#menubar .column {
    flex: 1;
}

.logo {
    max-width: 3.75em;
}

nav {
    @include text-right;
}

nav a {
    margin: 0 1em;
}

.container {
    padding: 3em;
    padding-bottom: 0;
}

.bar-1 {
    @include text-center;
    color: darken($headerLink, 22.5%);
}

.btn {
    padding: .55em 2.5em;
}