$bgColor: #fff;
$backdropColor: #f5f5f5;
$headerBgColor: #fff;
$headerLink: #7B7B90;
$fontFamily: Circular;
$accentColor: #d64b6a;
$fontSize: 14px;
$containerWidth: 89.5%;
$searchBoxWidth: 37.5%;
$howItWorksWidth: 95%;
$searchResultWidth: 80%;
$coolBorderRadius: 1em;
$footerFontColor: lighten($headerLink, 1%);
$cardRadius: .4em;
$solidBg: #ccc;
$cardMargin: .65em;
$highlightColor: #8843a2;